.design-wrapper {
  font-family: "Montserrat", sans-serif;
  height: 60vh;
  margin-top: 3rem;
}

.top h1 {
  margin-right: auto;
  margin-left: 4rem;
  font-weight: 300;
}

.form-content {
  width: 50%;
  margin-top: 3rem;
}

form {
  margin-left: 2rem;
  border: 1px solid black;
}

.edit-content {
  display: flex;
  flex-direction: column;
}

.row {
  margin-top: 1rem;
  margin-left: 2rem;
}

.row p {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.row input {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

#btn-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 720px) {
  .top {
    display: block;
  }

  .design-wrapper {
    height: 100vh;
  }

  .form-content {
    width: 90%;
  }
}
