{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'player/css/match.css' %}"/>
    <title>Match</title>
</head>
<body>
    <header>
        <h1>ROCK PAPPER SCISSORS</h1>
    </header>
    <main>
        {% block match %}
        {% endblock %}
    </main>
    <footer>
        <h4>Created by Aleksandar Fa</h4>
    </footer>
    <script src="{% static 'player/js/match.js' %}"></script>
</body>
</html>