{% extends 'accounts/base.html' %}

{% block content %}
<!-- left the same class and id names for css to pick up on -->
<div class="login-container">
    <div class="login-card">
        <form id="login-form" method="POST">
            {% csrf_token %}
            <p>
                <label>Username</label>
                {{form.username}}
            </p>
            <p>
                <label>Password</label>
                {{form.password1}}
            </p>
            <p>
                <label>Confirm password:</label>
                {{form.password2}}
            </p>
            <div class="btn-center-div">
                <button id="login-btn" type="submit">Sign up</button>
            </div>
        </form>
        <div class="signup-box">
            <p>Don't have an account? </p>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}